/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	height: 100%;
  background-color: #ebebeb;
  font: 14px/24px Arial, Tahoma sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

@font-face {
    font-family: 'NexaHeavy';
    src: url('fonts/NexaHeavy.eot');
    src: url('fonts/NexaHeavy.eot') format('embedded-opentype'),
         url('fonts/NexaHeavy.woff2') format('woff2'),
         url('fonts/NexaHeavy.woff') format('woff'),
         url('fonts/NexaHeavy.ttf') format('truetype'),
         url('fonts/NexaHeavy.svg#NexaHeavy') format('svg');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

#header{
  background-color: #373737;
}

.logo a{
	position: relative;
	display: inline-block;
	height: 65px;
	width: 80px;
	vertical-align: middle;
	font: 36px 'NexaHeavy';
	color: #fff;
	text-align: center;
	background: #F26C4F;
}

.logo a:after,
.feature-txt:after{ /*триугольник*/
	position: absolute;
	content: '';
	left:100%;
	top: 50%;
	display: block;
	height: 0;
	width: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid #f26c4f;
	border-bottom: 12px solid transparent;
	margin-top: -13px;
}

.logo > span{
	font: 18px 'NexaLight';
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin-left: 20px;
}

#nav{
	background: #474747;
}

.navigation li{
	float: left;
	padding: 25px 0;
}

.navigation li span{
	display: block;
	height: 11px;
	line-height: 11px;
	padding: 0 25px;
	border-right: 1px solid #767676;
}

.navigation li a{
	position: relative;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.navigation li.active a:after,
.navigation li a:hover:after{
  content: '';
  position: absolute;
  bottom:-23px;
  left: 0;
  right: 0;
  display: block;
  height: 4px;
  background: #f26c4f;
}

.panel-header{
  padding: 15px 0 10px;
}

.search-wrap{width: 300px;}

.search{
  width:100%;
  /*height: 45px;*/
  padding: 15px 20px;
  border: none;
  	background: #FFF url(img/clock.png) no-repeat right 13px center;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    -ms-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
        -o-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
          box-shadow: 1px 1px 1px #000; /*тень*/
}

.search::-webkit-input-placeholder-{
  font: bold 12px Arial, sans-serif;
  color: #a5a5a5;
}

.social{
	padding-top:11px;
}

.social a{
	display: inline-block;
	margin-left: 25px;
	text-decoration: none;
	color: #8f8f8f;
	font-size: 12px;
	/*Добавил спрайт*/
	height: 13px;
	line-height: 13px;
	padding-left: 20px;
	background: url(img/social-ic.png) no-repeat ;
}

.social a:hover{color: #555;}


/*добавление каждого спрайта отдельно*/
.social .tw{background-position: 0 0;}
.social .fc{background-position: 0 -13px;}
.social .rss{background-position: 0 -26px;}
.social .mail{background-position: 0 -39px;}

.social a:first-child{
	margin-left: 0px;
}

.feature-img{
	position: relative;
	height: 390px;
	width: 630px;
	background: #f26c4f;
	overflow: hidden;
}

.feature-img img{
	display: block;
	width: 100%;
	height: auto;
}

.feature-txt {
	height: 390px;
}

.features-description{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px 25px;
	width: 365px;
	background: rgba(0, 0, 0, .5);
}

.features-description p{
	color: #fff;
	font-size: 16px;
}

.feature-txt{
	position: relative;
	height: 390px;
	width: 318px;
	border-left: 12px solid #F26C4F;
	background: #373737;
}

.feature-txt:after{
		left:0;
		top: 60px;
}

.text-feature{
	padding: 0px 7px;
	margin: 40px 35px;

}

.text-feature h4{
	font-weight: bold;
	font-size: 19px;
	color: #fff;
	margin-bottom:5px;
}

.text-feature p{
	font-size: 12px;
	color: #828282;
	margin-bottom: 10px;
}

.date{
	font-size: 12px;
	color: #828282;
	background: url(img/clock1.png) no-repeat left center;
	display: inline-block;
	padding-left: 25px;
}

#articles{
	padding-top: 15px;
	margin-bottom: 15px;
}

.article-item{
	float: left;
	width: 310px;
	height: 380px;
	background-color: #fff;
	margin-right: 15px;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
}

.article-img{
	position: relative;
	overflow: hidden;
}

.article-item img{
	height: 190px;
	width:100%;
}

.article-item:last-child{
	margin-right: 0px;
}

.articles-futer{
	padding: 20px 25px 45px;
}

h3.title{
	font-weight: bold;
	font-size: 25px;
	color: #6f6f6f;
	line-height: 30px;
	margin-bottom: 15px;
}

.articles-futer p {
	font-size: 12px;
	color: #646464;
	line-height: 24px;
}

h3.title a:hover{
	color: #333;
}

h3.title a{
	text-decoration: none;
	color: #6f6f6f;
}

/*триугольник с плюсиком*/
.zoom{
	position: absolute;
	top: 0;
	right: 0;
	height: 80px;
	width: 80px;
	text-align: right;
	background: url(img/zoom-bl.png) no-repeat;
}

.zoom a{
	display: inline-block;
	color:#fff;
	font-size: 24px;
	font-family: Tahoma;
	text-decoration: none;
	padding-right: 13px;
	padding-top: 13px;
}

.sidebar{
	width:309px;
}

.content{
	margin-right: 325px;
}

.news-bl{
	position: relative;
	background: #373737;
}

.news-bl .title a{
	color: #fff;
}

.news-bl .articles-futer p {
	color: #fff;
}

.news-bl .title a:hover{
	color: #ccc;
}

.news-item{
	margin-bottom: 15px;
	padding: 30px 35px 40px;
	border-left: 5px solid #f26c4f;
	background: #fff;
}

.news-item.selected{
	background: #f26c4f;
	border-color: #ce4e32;
	color: #fff;
}

.title-news{
	font-weight: bold;
	color: #474747;
	margin-bottom: 10px;
}

.news-item.selected p,
.news-item.selected .news-panel,
.news-item.selected .title-news,
.news-item.selected span{
	color:#fff;
}

h4.title-news{
	font-size: 24px;
	font-weight: bold;
	color: #474747;
}

.title-news a{
	color: inherit;
	text-decoration: none;
}

.title-news p{
	color: #707070;
	line-height: 21px;
}

.panel-news{
	margin-bottom: 10px;
	font: 10px Tahoma sans-serif;
	color: #8f8f8f;
}

.panel-news span{
	display: inline-block;
	vertical-align: middle;
}

.divade{
	margin: 0 30px;
	background: #dfdfdf;
	width: 1px;
	height: 21px;
}

/*рейтинг*/
.rate{
	width: 65px;
	margin-right: 5px;
}

.rate span{
	height: 14px;
	background: url(img/shape.png) repeat-x;
}

.news-item.selected .rate span{
	background: url(img/star.png) repeat-x;
}

.news-item-h1{
	margin-bottom: 15px;
	padding: 30px 35px 25px;
	border-left: 5px solid #f26c4f;
	background: #fff;
}

.news-item-h2{
	margin-bottom: 15px;
	padding: 20px 35px 20px;
	border-left: 5px solid #f26c4f;
	background: #fff;
}

.news-item-h2 .title-news{
	color: #474747;
	text-decoration: none;
	font-size: 18px;
}

.readmore{
	text-align: center;
	padding: 30px 0;

}
.read{
	font: bold 14px Arial;
	color: #bdbdbd;
	margin-bottom: 12px;
}
.readmore button{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: transparent;
	background: url(img/plus.png);
}

.text-box{
	margin-bottom: 30px;
}

.main_content h4{
	color: #707070;
	font: bold 30px Arial;
	margin-bottom: 35px;
}
.main_content{
	background-color: #FFF;
	padding: 35px 35px 30px;
	border: 1px solid #d3d3d3;
	margin-bottom: 1px;
	color: #707070;

}

.main_content p{
	font:bold 14px Arial;
	line-height: 1.5;
}

.main_content span{
	color: #f26c4f;
}

.footer-panel{
	background-color: #efefef;
	padding:15px 25px;
	border: 1px solid #d3d3d3;
	color: #a2a2a2;
	font-size: 12px;
	font-family: Arial;
}

.likes img{
	margin-left: 10px;
}

.main_block{
	background-color: #FFF;
	border: 1px solid #d3d3d3;
}

.text-box{
	margin-bottom: 30px;
}

.text_content{
	padding: 35px 35px 30px;
	color: #949494;
	background: #fff;
}

.text_content h4{
	color: #707070;
	font: bold 30px Arial;
	margin-bottom: 20px;
}



.text_content p{
	font: 14px Arial;
	line-height: 2;
}

#midle{
	padding-bottom: 120px;
}

.announce{
	padding: 35px 0;
}

.announce-1 h4,
.announce-2 h4{
	font: bold 19px Arial ;
	color: #474747;
	line-height: 1.5;
	margin-bottom: 25px;
}

.announce-1 p,
.announce-2 p{
	font: Arial 12px;
	color: #a7a7a7;
	margin-bottom: 20px;
}

.announce-1 span,
.announce-2 span{
	font: Arial 12px;
	color: #8f8f8f;

}

.announce-1{
	padding-bottom: 25px;
	border-bottom:  1px solid #d9d9d9;

}

.announce-2{
	padding: 25px 0;
}

.us li{
	background: #fff;
	margin-bottom: 5px;
	padding: 15px 20px;
	font: 12px Arial;
	color: #a7a7a7;
	border-left: 3px solid #a7a7a7;
}

.us li a{
	text-decoration: none;
	font: bold 16px Arial;
	color: #474747;
	padding-right: 10px;
}


.us li:last-child{
	margin-bottom: 0px;
}

#footer{
		background:#373737;
		padding: 40px 0;
}

.something-links{
	padding: 0 0 20px;
}

.links li{
	float: left;
	padding-right: 20px;

}

.links a{
	text-decoration: none;
	color: #fff;
	font: 12px Arial;
}

.something-text{
	font: 12px Arial;
	color: #7e7e7e;
	padding-right: 180px;
	line-height: 1.5;
}
